<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    заголовок<br>
    <input type="text" name="title"><br>
    текст<br>
    <input type="text" name="text_post"><br>
    ИЗОБРАЖЕНИЕ:
    <input type="file" name="image" accept="image/*"><br><br>
    <button type="submit">Submit</button>
</form>

{% if request.POST %}
    <script type="text/javascript" src='{% static "js/main.js" %}'></script>
{% endif %}

</body>
</html>