<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3><a href="{% url 'home' %}">на главную</a> </h3>
<h3><a href="{% url 'search' %}">поиск</a> </h3>

<h3>автор поста: {{ data.author }}</h3>
<h1>{{ data.title }}</h1>
{{ data.text_post }}<br>
img:<img src="{{ file.url }}"><br>
{{ data.data_published }}<br><br>

votes: {{ data.votes }}


<form action="" method="POST">
    {% csrf_token %}

    <button type="submit">like</button>


</form>
</body>
</html>